.hero {
 padding-top: 11px;
}

.hero__col {
    width: 50%;
}

.hero__subtitle {
    width: 278px;
    margin-top: 20px;
    color: #ABAAA9;
}

.hero__image {
    margin-top: 30px;
}

.hero__image img {
    width: 100%;
}




