.services {
    margin-top: 150px;
}

.services__col-left,
.services__col-right {
    width: 50%;
}

.services__title {
    font-size: 36px;
    font-family: "Playfair Display", serif
}

.services__subtitle {
    margin-top: 15px;
    width: 325px;
    height: 95px;
    line-height: 120%;
}

